<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346935324075-2f3jvgn9srchfbg4iliv4evac039gbud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346935324075-2f3jvgn9srchfbg4iliv4evac039gbud</string>
	<key>API_KEY</key>
	<string>AIzaSyBSvUl_mJP1jTDrVekwQpXZyQLxHUYnVs8</string>
	<key>GCM_SENDER_ID</key>
	<string>346935324075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.asa</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-dd586</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-dd586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346935324075:ios:3c5f8bd9ac065fe776f6ee</string>
</dict>
</plist>